
@media (max-width: 600px) {
  ngx-datatable /deep/ .datatable-footer {
    height: 85px !important;
    font-size: 12px !important;
    padding-top: 25px !important;
  }

  ngx-datatable /deep/ .datatable-footer .page-count {
    font-size: 10px !important;
    padding: 0px !important;
    margin-left: 10px !important;
    color: #000;
    font-weight: bold;
  }

  ngx-datatable /deep/ .datatable-footer .pager {
    padding: 4px !important;
  }

  ::ng-deep .ngx-datatable.material .datatable-footer .datatable-pager a {
  min-width: 20px !important;
  padding: 0 2px !important;
  margin: 6px 0px !important;
  color: #000;
  font-weight: bold;
}
}
@media (min-width: 60px) and (max-width: 1024px) {
  ::ng-deep .ngx-datatable.material .datatable-footer .datatable-pager a {
  min-width: 20px !important;
  padding: 0 2px !important;
  margin: 6px 0px !important;
  font-weight: bold !important;
  color: #000 !important;
}
    ngx-datatable /deep/ .datatable-footer {
    height: 100px !important;
    font-size: 12px !important;
    padding-top: 25px !important;
    font-weight: bold !important;
    color: #000 !important;
  }
}