.main-section {
  position: relative;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 35px;
  height: 35px;
  appearance: none;
  border: 4px solid red;
  outline: none !important;
  border-radius: 5px;
  cursor: pointer;
}

.CT_Dark_Red_Zones-1 {
  position: absolute;
  z-index: 9999;
  top: 25%;
  left: 21%;
}

.CT_Dark_Red_Zones-2 {
  position: absolute;
  z-index: 9999;
  top: 35%;
  left: 50%;
}

.CT_Dark_Red_Zones-3 {
  position: absolute;
  z-index: 9999;
  top: 58%;
  right: -7%;
}

.CT_Dark_Red_Zones-4 {
  position: absolute;
  z-index: 9999;
  top: 39%;
  right: -59%;
}

.CT_Dark_Cool_tower {
  position: absolute;
  z-index: 9999;
  top: 30%;
  right: -10%;
}

/* Ma--I */

.MA_I_Blue_Zones-1 {
  position: absolute;
  z-index: 9999;
  top: 2%;
  left: 16%;
}

.MA_I_Blue_Zones-2 {
  position: absolute;
  z-index: 9999;
  top: 2%;
  right: 19%;
}

.MA_I_Blue_Zones-3 {
  position: absolute;
  z-index: 9999;
  top: 24%;
  left: 11%;
}

.MA_I_Blue_Zones-4 {
  position: absolute;
  z-index: 9999;
  top: 18%;
  left: 38%;
}

.MA_I_Blue_Zones-5 {
  position: absolute;
  z-index: 9999;
  top: 35%;
  right: 18%;
}

.MA_I_Blue_Zones-6 {
  position: absolute;
  z-index: 9999;
  top: 35%;
  left: 18%;
}

.MA_I_Blue_Zones-7 {
  position: absolute;
  z-index: 9999;
  bottom: 31%;
  left: 18%;
}

.MA_I_Blue_Zones-8 {
  position: absolute;
  z-index: 9999;
  bottom: 34%;
  left: 45%;
}

.MA_I_Blue_Zones-9 {
  position: absolute;
  z-index: 9999;
  bottom: 39%;
  right: 20%;
}

.MA_I_Blue_Zones-10 {
  position: absolute;
  z-index: 9999;
  bottom: 17%;
  left: 20%;

}

.MA_I_Blue_Zones-11 {
  position: absolute;
  z-index: 9999;
  bottom: 9%;
  left: 31%;
}

.MA_I_Blue_Zones-12 {
  position: absolute;
  z-index: 9999;
  bottom: 19%;
  right: 15%;
}

/* ends MA-II */

/* start Area MA-II */

.MA_II_Red_Zones-1 {
  position: absolute;
  z-index: 9999;
  top: 2%;
  left: 28%;
}

.MA_II_Red_Zones-2 {
  position: absolute;
  z-index: 9999;
  top: 2%;
  right: 23%;
}

.MA_II_Red_Zones-3 {
  position: absolute;
  z-index: 9999;
  top: 19%;
  left: 29%;
}

.MA_II_Red_Zones-4 {
  position: absolute;
  z-index: 9999;
  top: 43%;
  right: 20%;
}

.MA_II_Red_Zones-5 {
  position: absolute;
  z-index: 9999;
  bottom: 37%;
  right: 20%;

}

.MA_II_Red_Zones-6 {
  position: absolute;
  z-index: 9999;
  bottom: 33%;
  left: 31%;
}

.MA_II_Red_Zones-7 {
  position: absolute;
  z-index: 9999;
  bottom: 8%;
  right: 3%;
}

.MA_II_Red_Zones-8 {
  position: absolute;
  z-index: 9999;
  bottom: 2%;
  right: 47%;
}

/* end Area MA-II */

/* start MA_III_Yellow_Zones-1 */

.MA_III_Yellow_Zones-1 {
  position: absolute;
  z-index: 9999;
  top: 2%;
  left: 11%;
}

.MA_III_Yellow_Zones-2 {
  position: absolute;
  z-index: 9999;
  top: 2%;
  left: 49%;
}

.MA_III_Yellow_Zones-3 {
  position: absolute;
  z-index: 9999;
  top: 10%;
  right: 10%;
}

.MA_III_Yellow_Zones-4 {
  position: absolute;
  z-index: 9999;
  top: 22%;
  right: 10%;
}

.MA_III_Yellow_Zones-5 {
  position: absolute;
  z-index: 9999;
  top: 41%;
  right: 25%;
}

.MA_III_Yellow_Zones-6 {
  position: absolute;
  z-index: 9999;
  top: 41%;
  right: 44%;
}

.MA_III_Yellow_Zones-7 {
  position: absolute;
  z-index: 9999;
  top: 57%;
  right: 48%;
}

.MA_III_Yellow_Zones-8 {
  position: absolute;
  z-index: 9999;
  bottom: 17%;
  right: 44%;
}

.MA_III_Yellow_Zones-9 {
  position: absolute;
  z-index: 9999;
  bottom: 2%;
  left: 19%;
}

/* end MA_III_Yellow_Zones-1 */