.main-section {
  position: relative;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 35px;
  height: 35px;
  appearance: none;
  border: 4px solid red;
  outline: none !important;
  border-radius: 5px;
  cursor: pointer;
}

.zone-1-1-ba {
  position: absolute;
  z-index: 9999;
  top: 35%;
  left: 33%;
}

.zone-2-1-ba {
  position: absolute;
  z-index: 9999;
  top: 68%;
  right: 8%;
}

.zone-1-1-ec {
  position: absolute;
  z-index: 9999;
  top: 34%;
  left: 15%;
}

.zone-2-1-ec {
  position: absolute;
  z-index: 9999;
  top: 60%;
  right: 15%;
}

.zone-1-1-east {
  position: absolute;
    z-index: 9999;
    bottom: 34%;
    right: 34%;
}

.zone-2-1-east {
  position: absolute;
  z-index: 9999;
  top: 38%;
  right: 11%;

}

.zone-1-1-west {
  position: absolute;
  z-index: 9999;
  bottom: 30%;
  left: 22%;
}

.zone-2-1-west {
  position: absolute;
  z-index: 9999;
  top: 58%;
  right: 11%;
}

.M3NorthZone3{
  position: absolute;
  z-index: 9999;
  top: 26%;
  right: 9%;
}
.M3SouthZone2{
  position: absolute;
  z-index: 9999;
  top: 37%;
  right: 4%;

}
.M3SouthZone3{
  position: absolute;
  z-index: 9999;
  top: 57%;
  right: 9%;

}
.Parkingarea{
  position: absolute;
  z-index: 9999;
  top: 57%;
  left: 26%;
}
.NONM3AREA{
  position: absolute;
  z-index: 9999;
  top: 57%;
  right: -84%;
}

.Zone-1-phus{
  position: absolute;
  z-index: 9999;
  top: 45%;
  left: 27%;
}
.Zone-2-phus{

  position: absolute;
  z-index: 9999;
  top: 55%;
  right: 23%;
  
}
.Zone-3-phus{
  position: absolute;
  z-index: 9999;
  top: 65%;
  right: -12%;
}
.Zone-4-phus{
  position: absolute;
  z-index: 9999;
  top: 53%;
  right: 21%;

}

.M3-North-2{
  position: absolute;
  z-index: 9999;
  bottom: 22%;
  left: 21%;
}

.M3-South-2{
  position: absolute;
  z-index: 9999;
  bottom: 32%;
  left: 31%;
}

.M3-North-1{
  position: absolute;
  z-index: 9999;
  bottom: 32%;
  left: 43%;
}

.Office-Welfare{
  position: absolute;
  z-index: 9999;
  bottom: 32%;
  left: 53%;
}

.Parking-1{
  position: absolute;
  z-index: 9999;
  top: 32%;
  right: 35%;
}

.Parking-2{
  position: absolute;
  z-index: 9999;
  top: 50%;
  right: 40%;
}
.Parking-3{
  position: absolute;
  z-index: 9999;
  top: 50%;
  right: 26%;
}