.mb-05{
    float: right;
}
.m-333{
    padding: 15px;

}
.title-sty
{
    font-weight: bold;
    font-size: 22px;
}

.icon-sty
{
    padding-left: 15px;
    padding-top: 5px;
}
.mat-card-title
{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.12) !important;
    margin-bottom: 0px !important;
}
.filter-card-content{
margin-bottom: 15px;
}
.mat-form-field
{
    margin-left: 8px;
    margin-right: 8px;
}

.butns-grp
{
    float: right;
   padding-bottom: 10px;
   padding-right: 10px;
}
.download_btn_sty
{
  float: right;
}
.hold-sty
{
    cursor: pointer;
}

.span-sty
{
    width: 50px;
    height: 70px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.span-apprv
{
background-color: green;
color: white;
margin-right: 5px;
cursor: pointer;
}
.span-rejc
{
    background-color: red;
    color: white;
    cursor: pointer;
}
.span-delete{
  background-color: rgb(168, 54, 54);
  color: white;
}
.span-preapprv{
  background-color: rgb(0, 162, 255);
  color: white;
  margin-right: 5px;
  cursor: pointer;
}
.span-comapprv{
  background-color: rgb(1, 50, 78);
  color: white;
  margin-right: 5px;
  cursor: pointer;
}
.icons-sty
{
    font-size: 15px;
    cursor: pointer;
}

.logo-img{
    width: 22px;
}
.hras-image{
    width: 20px!important;
    margin-right: 5px;
}
.hras-content{
    display: flex!important;
    align-items: center!important;
}

mat-form-field {
  width: 100%;
}
  .edit-field{
    width: 50% !important;
  }
.mat-card>:first-child, .mat-card-content>:first-child {
margin-top: 15px;
  }

@media (min-width: 320px) and (max-width: 600px) {
  :host ::ng-deep .mat-form-field {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;    
  }

  .card-content{
    padding: 30px 15px;
  }
  .mat-form-field{ 
    padding-right: 10px;
  }
  .upload-div-sty{
    height: 90px;
  }
  .edit-field{
    width: 58% !important;
  }
    ngx-datatable /deep/ .datatable-footer {
    height: 100px !important;
    font-size: 12px !important;
    padding-top: 25px !important;
    font-weight: bold !important;
    color: #000 !important;
  }

  ngx-datatable /deep/ .datatable-footer .page-count {
    font-size: 10px !important;
    padding: 0px !important;
    margin-left: 10px !important;
  }

  ngx-datatable /deep/ .datatable-footer .pager {
    padding: 4px !important;
  }

  ::ng-deep .ngx-datatable.material .datatable-footer .datatable-pager a {
  min-width: 20px !important;
  padding: 0 2px !important;
  margin: 6px 0px !important;
  font-weight: bold !important;
  color: #000 !important;
}
body{
    cursor: pointer !important;
}

}
@media (min-width: 60px) and (max-width: 1024px) {
  ::ng-deep .ngx-datatable.material .datatable-footer .datatable-pager a {
  min-width: 20px !important;
  padding: 0 2px !important;
  margin: 6px 0px !important;
  font-weight: bold !important;
  color: #000 !important;
}
    ngx-datatable /deep/ .datatable-footer {
    height: 100px !important;
    font-size: 12px !important;
    padding-top: 25px !important;
    font-weight: bold !important;
    color: #000 !important;
  }
}
