.butns
{
    float: right;
}
.mat-form-field
  {
    width: 100%;
    padding-right: 30px; 
  }

  .matrequest{
    width: 35% !important;
    padding: 0px !important; 
    
  }
  .card-content{
    padding: 30px;
  }
  .butns-grp
  {
    margin-right: 10px;
  }

:host ::ng-deep {
  @media (min-width: 320px) and (max-width: 600px) {
    .full-width {
      width: 100% !important;
    }

    mat-grid-tile {
      width: 100% !important;
      display: block;
    }

    mat-grid-list {
      display: block !important;
    }
    .card-content {
      padding: 30px 13px;
    }
    .mat-form-field {
      padding-right: 0px !important;
    }
  }
}
